<header>
    <div class="container">
        <div class="logo">
            <img src="http://image.ibb.co/hkYtNw/circle.png" alt="logo" title="logo">
            <h2>Parallels</h2>
        </div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</header>