<section class="baner">
    <div class="container">
        <h2 class="margin-bottom-0">Connect with us</h2>
        <p>Follow Us On Social Networks</p>
        <div class="social-icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-github"></i>
            <i class="fa fa-skype"></i>
            <i class="fa fa-tumblr"></i>
            </div>
    </div>
</section>