<div>
  <app-header></app-header>
  <app-slider></app-slider>
  <app-services></app-services>
  <app-baner></app-baner>
  <app-portfolio [portfolios]="portfolioList"></app-portfolio>
  <app-secound-baner></app-secound-baner>
  <app-price></app-price>
  <app-quote></app-quote>
  <app-third-baner></app-third-baner>
  <app-about-us></app-about-us>
  <app-our-skills></app-our-skills>
  <app-fourth-baner></app-fourth-baner>
  <app-contact></app-contact>
  <app-fifth-baner></app-fifth-baner>
  <app-footer></app-footer>
</div>