<div>
  <app-header></app-header>
  <app-slider [slides]="slideList"></app-slider>
  <app-services [services]="servicesList"></app-services>
  <app-baner></app-baner>
  <app-portfolio [portfolios]="portfolioList"></app-portfolio>
  <app-secound-baner></app-secound-baner>
  <app-price [prices]="priceList"></app-price>
  <app-quote></app-quote>
  <app-third-baner></app-third-baner>
  <app-about-us [aboutUs]="aboutUsList"></app-about-us>
  <app-our-skills [skills]="skillsList"></app-our-skills>
  <app-fourth-baner></app-fourth-baner>
  <app-contact [contact]="contactList"></app-contact>
  <app-fifth-baner></app-fifth-baner>
  <app-footer [contact]="contactList" [aboutUs]="aboutUsList"></app-footer>
</div>