.services h3 {
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	margin: 15px 0;
}
.services p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
}
.services .row {
	text-align: center;
}
.services .circle {
	position: relative;
    width: 102px;
    height: 102px;
	background-image: url("http://image.ibb.co/fxfnXw/circle_1.png");
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 auto;
}