<section class="services">
    <div class="container padding-50">
        <div class="row">
            <div class="col-6 col-offset-3 padding-bottom-40">
                <h2>Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let service of services" class="col-3 col-m-6 col-s-12">
                <div class="circle">
                    <img src="{{service.image}}" alt="Picture">
                </div>
                <h3>{{service.header}}</h3>
                <p>{{service.text}}</p>
            </div>
        </div>
    </div>
</section>