<section class="quote">
    <div class="price-quote container" style="padding: 0;">
        <div class="row">
            <div class="col-5">
                <hr>
            </div>
            <div class="col-2">
                <h2>Clients about us</h2>
            </div>
            <div class="col-5">
                <hr>
            </div>
        </div>
        <div class="quote-text padding-50">
            <div class="row">
                <div class="col-2 col-offset-2">
                    <img src="http://image.ibb.co/kDWXHw/image.png" alt="image">
                </div>
                <div class="col-4">
                    <p>Donec leo elit, dignissim eu elit vitae, aliquam tincidunt purus. Proin id risus ut sem vehicula
                        faucibus. Fusce sed libero nec quam tempus facilisis. Vestibulum venenatis nisl ac feugiat
                        aliquet. Sed euismod ligula arcu, et mollis est volutpat et. Aenean sed nulla placerat neque
                        lacinia ullamcorper.</p>
                </div>
                <div class="col-2 col-offset-right-2">
                    <img src="http://image.ibb.co/iJwMAG/1.png" alt="1" border="0">
                </div>
            </div>
            <h3>#PERRY MALITON</h3>
        </div>
    </div>
</section>